/* Define the floating animation */

@keyframes floatUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


/* Define the fade-in animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Apply animations to the image */

.abs {
    position: absolute;
}

.img-1 {
    animation: floatUpDown 4s ease-in-out infinite;
    animation-delay: 0.3s;
}


/* .img-2 {
    animation: floatUpDown 3s ease-in-out infinite;
    animation-delay: 0.8s;
} */

.img-6 {
    animation: floatUpDown 3s ease-in-out infinite;
    animation-delay: 0.8s;
}

.img-7 {
    animation: floatUpDown 4s ease-in-out infinite;
    animation-delay: 0.8s;
}

.img-8 {
    animation: floatUpDown 5s ease-in-out infinite;
    animation-delay: 0.8s;
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}